In [1]:
# To begin, I created a folder called "Project3_dataTest". I placed the fer2013.csv
# file within the Project3_data folder, and then I ran the following code.

In [2]:
import numpy as np
import pandas as pd
import os
from PIL import Image

In [3]:
df = pd.read_csv('/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/fer2013.csv')

In [4]:
df.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [5]:
df0 = df.query('emotion == 0 and Usage != "Training"')
df1 = df.query('emotion == 1 and Usage != "Training"')
df2 = df.query('emotion == 2 and Usage != "Training"')
df3 = df.query('emotion == 3 and Usage != "Training"')
df4 = df.query('emotion == 4 and Usage != "Training"')
df5 = df.query('emotion == 5 and Usage != "Training"')
df6 = df.query('emotion == 6 and Usage != "Training"')

In [6]:
os.mkdir("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/0/")
os.mkdir("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/1/")
os.mkdir("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/2/")
os.mkdir("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/3/")
os.mkdir("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/4/")
os.mkdir("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/5/")
os.mkdir("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/6/")

In [7]:
d=0
for image_pixels in df0.iloc[1:,1]:
    image_string = image_pixels.split(' ')
    image_data = np.asarray(image_string, dtype=np.uint8).reshape(48,48)
    img = Image.fromarray(image_data)
    img.save("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/0/img_%d.jpg"%d, "JPEG")
    d+=1

In [8]:
d=0
for image_pixels in df1.iloc[1:,1]:
    image_string = image_pixels.split(' ')
    image_data = np.asarray(image_string, dtype=np.uint8).reshape(48,48)
    img = Image.fromarray(image_data)
    img.save("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/1/img_%d.jpg"%d, "JPEG")
    d+=1

In [9]:
d=0
for image_pixels in df2.iloc[1:,1]:
    image_string = image_pixels.split(' ')
    image_data = np.asarray(image_string, dtype=np.uint8).reshape(48,48)
    img = Image.fromarray(image_data)
    img.save("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/2/img_%d.jpg"%d, "JPEG")
    d+=1

In [10]:
d=0
for image_pixels in df3.iloc[1:,1]:
    image_string = image_pixels.split(' ')
    image_data = np.asarray(image_string, dtype=np.uint8).reshape(48,48)
    img = Image.fromarray(image_data)
    img.save("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/3/img_%d.jpg"%d, "JPEG")
    d+=1

In [11]:
d=0
for image_pixels in df4.iloc[1:,1]:
    image_string = image_pixels.split(' ')
    image_data = np.asarray(image_string, dtype=np.uint8).reshape(48,48)
    img = Image.fromarray(image_data)
    img.save("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/4/img_%d.jpg"%d, "JPEG")
    d+=1

In [12]:
d=0
for image_pixels in df5.iloc[1:,1]:
    image_string = image_pixels.split(' ')
    image_data = np.asarray(image_string, dtype=np.uint8).reshape(48,48)
    img = Image.fromarray(image_data)
    img.save("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/5/img_%d.jpg"%d, "JPEG")
    d+=1

In [13]:
d=0
for image_pixels in df6.iloc[1:,1]:
    image_string = image_pixels.split(' ')
    image_data = np.asarray(image_string, dtype=np.uint8).reshape(48,48)
    img = Image.fromarray(image_data)
    img.save("/Users/blakemyers/Desktop/Jupyter/Project3_dataTest/6/img_%d.jpg"%d, "JPEG")
    d+=1

In [14]:
df99 = df.query('Usage != "Training"')

In [15]:
df99.shape

(7178, 3)